/* line 3, ../_sass/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../_sass/styles.scss */
html, body {
  height: 100%;
  background: url("/img/black_board.jpg") center fixed;
  background-size: cover;
  margin-bottom: 0px;
}

/* line 17, ../_sass/styles.scss */
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../_sass/styles.scss */
.l-box {
  padding: 1em;
}

/* line 25, ../_sass/styles.scss */
.l-centered {
  text-align: center;
}

/* line 28, ../_sass/styles.scss */
.container {
  margin: 0 auto;
  background: white;
  margin-top: 10%;
}

/* line 36, ../_sass/styles.scss */
.topheadline {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 125px;
  letter-spacing: normal;
  word-spacing: normal;
}

/* line 44, ../_sass/styles.scss */
.header_img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* line 51, ../_sass/styles.scss */
.starter {
  border-bottom: 5px #ECD961 dotted;
}

/* line 56, ../_sass/styles.scss */
.h-b {
  background: #ECD961;
  color: white;
  line-height: 2.0;
  margin-bottom: 75px;
}

/* line 63, ../_sass/styles.scss */
.header_link {
  text-align: center;
}

/* line 67, ../_sass/styles.scss */
.article_content {
  text-align: left;
  font-size: 14px;
  width: 800px;
  padding-left: 50px;
  line-height: 25px;
}

/* line 76, ../_sass/styles.scss */
.one {
  border-right: 1px #ECD961 dotted;
  border-bottom: 1px #ECD961 dotted;
  margin-bottom: 75px;
}

/* line 81, ../_sass/styles.scss */
.two {
  border-left: 2px #ecd961 dotted;
  border-bottom: 5px #ECD961 dotted;
  margin-bottom: 75px;
}

/* line 87, ../_sass/styles.scss */
.three {
  border-right: 3px #ECD961 dotted;
  margin-bottom: 75px;
}

/* line 92, ../_sass/styles.scss */
.four {
  border-top: 3px #ECD961 dotted;
  border-left: 3px #ECD961 dotted;
  margin-bottom: 75px;
}

/* line 100, ../_sass/styles.scss */
.fa-trophy {
  font-size: 35px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: #ECD961;
  border-radius: 50%;
  padding-top: 8px;
  color: #AECFC8;
}

/* line 111, ../_sass/styles.scss */
.fa-camera {
  font-size: 30px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: #ECD961;
  border-radius: 50%;
  padding-top: 10px;
  color: white;
}

/* line 122, ../_sass/styles.scss */
.fa-book {
  font-size: 30px;
  background: #ECD961;
  border-radius: 50%;
  padding-top: 8px;
  color: white;
  width: 50px;
  height: 50px;
}

/* line 132, ../_sass/styles.scss */
.fa-quote-left {
  font-size: 25px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: #ECD961;
  border-radius: 50%;
  padding-top: 12px;
  margin-left: 27px;
  color: white;
}

/* line 144, ../_sass/styles.scss */
.fa-video-camera {
  font-size: 30px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: #ECD961;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 3px;
  color: white;
}

/* line 158, ../_sass/styles.scss */
.one_headline {
  margin: 0 auto;
  width: 400px;
  display: block;
  font-size: 50px;
  font-weight: bold;
}

/* line 169, ../_sass/styles.scss */
.two_img {
  width: 850px;
  margin: 0 auto;
}

/* line 174, ../_sass/styles.scss */
.img_text {
  padding-top: 70px;
}

/* line 179, ../_sass/styles.scss */
blockquote {
  font-size: 60px;
  font-style: italic;
}

/* line 186, ../_sass/styles.scss */
.afooter {
  font-size: 12px;
  color: grey;
  font-family: 'Open Sans', sans-serif;
}

/* line 194, ../_sass/styles.scss */
.videopost {
  padding-top: 20px;
}

/* line 198, ../_sass/styles.scss */
.quotepost {
  padding-top: 20px;
}

/* line 202, ../_sass/styles.scss */
.photopost {
  padding-top: 20px;
}

/* line 206, ../_sass/styles.scss */
.articlepost {
  padding-top: 20px;
}

/* line 210, ../_sass/styles.scss */
.authorquote {
  padding-left: 150px;
  font-size: 18px;
  font-weight: bold;
}

/* line 216, ../_sass/styles.scss */
.topsubhead {
  padding-top: 15px;
  padding-bottom: 50px;
}
