html,body{
    height:100%;
    background: url('aged-painted-wood-panel1.jpg')center right;
    background-size: cover;
    margin-bottom: 0px;
}

    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-box {
        padding: 1em;
    }


.container{
    width: 80%;
    height:1250px;
    margin: 0 auto;
    background:rgba(255,255,255,0.8);
    overflow: auto;
    margin-top: 10%;
}

header{
    text-align: center;
}

h1{
    font-family: "avenir";
    font-size: 80px;

}


.header_img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.h-b{
        background: #4C97FF;
        color:white;
        border:2px solid #35547F;
        line-height: 3.5;
}

.fa-book{
    font-size: 30px;
    width: 30px;
    margin: 0 auto;
}

.fa-camera{
    font-size: 30px;
    width: 30px;
    margin: 0 auto;
}

.fa-left-quote{
    font-size: 30px;
    width: 30px;
    margin: 0 auto;
}

.fa-video-camera{
    font-size: 30px;
    width: 30px;
    margin: 0 auto;

}


.one_headline{
    margin: 0 auto;
    width: 400px;
    display: block;

}

.img_text{
    padding-top: 70px;
}

.two_img{
    width: 400px;
    margin: 0 auto;
}


blockquote{
    font-size: 60px;
}





















