
        // big things et al.
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    height:100%;
    background: url('aged-painted-wood-panel1.jpg')center right;
    background-size: cover;
    margin-bottom: 0px;
}
body{
    // height: 100%;
}
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}
.l-centered{
    text-align: center;
}
.container{
    width: 80%;
    height:100%;
    margin: 0 auto;
    background:rgba(255,255,255,0.8);
    overflow: auto;
    margin-top: 10%;
}

        // header - first parts 
header{
    text-align: center;
}
h1{
    font-family: "avenir";
    font-size: 80px;
}
.header_img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
//header links
.h-b{
        background: #4C97FF;
        color:white;
        border:2px solid #35547F;
        line-height: 3.5;
}


    // different sections of blog
.one{
    border-right:1px grey solid;
    border-bottom:1px grey solid; 
} 
.two{
    border-left:2px blue dotted ;
    border-bottom:5px gray double; 
} 

.three{
    border-right: 3px black double;
}

.four{
    border:3px #4C97FF;
    border-style: dotted solid double dashed;
}

    // icons in diff sections 
.fa-book{
    font-size: 35px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #ff9d9d;
    border-radius: 50%;
    padding-top: 8px;
    color: white;
}
.fa-camera{
    font-size: 30px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #ff9d9d;
    border-radius: 50%;
    padding-top: 10px;
    color: white;
}
.fa-quote-left{
    font-size: 25px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #ff9d9d;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 10px;
    color: white;
}
.fa-video-camera{
    font-size: 30px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #ff9d9d;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    color: white;

}

    //diff headlines...need to add classes to other headlines
.one_headline{
    margin: 0 auto;
    width: 400px;
    display: block;

}


//second section image and text
.two_img{
    width: 400px;
    margin: 0 auto;
}

.img_text{
    padding-top: 70px;
}

//third section quotes and shit
blockquote{
    font-size: 60px;
}





















